
.selectedAddress {
    color: var(--chakra-colors-green-400);
    display: inline;
}

.cardChip {
    text-transform: uppercase;
    color: var(--chakra-colors-green-400);
    font-weight: bold;
    font-size: 0.75rem;
    margin-left: 1rem;
}