
.selectedAddress {
    color: var(--chakra-colors-green-400);
    display: inline;
}

.cardChip {
    text-transform: uppercase;
    background-color: #F1F8E9;
    color: var(--turbo-colors-green);
    padding: 2px 10px;
    border-radius: 0.5rem;
    font-weight: 700;
    font-size: 10px;
    line-height: 1;
    vertical-align: middle;
    margin-left: 0.5rem;
}

.editCardLink {
    color: #var(--turbo-colors-link);
    font-size:10px;
    font-weight:700;
}