.container {
    background: var(--wismo-colors-background);
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 0.5rem;
    position: sticky;
    top:0;
    border-bottom: 1px solid var(--wismo-colors-gray);
    min-height: 48px;
}

.brand {
    flex-grow:1;
    display:flex;
    align-items: center;
    
    img {
        max-height:32px;
        padding-left: 0.5rem;
        display:inline;
    }
}

.attribution {
    font-size:0.875rem;
    a {
        color: var(--wismo-colors-link);
        font-weight:bold;
        &:hover {
            text-decoration: underline;
        }
    }
}