@import "./../../styles/common.scss";

.image {
    width: 40px;
    height: 40px;
    border: 1px solid var(--chakra-colors-gray-200);
    // border-radius: var(--chakra-space-4);
    object-fit: cover;
}

.itemCarousel {
    max-height: 212px;
    overflow: auto;
    z-index:999;
}