.container {
    background: var(--chaka-colors-gray-50);
    padding: 1rem;
}

.brandLink {
    color: var(--chakra-colors-blue-400);
}

.changeNumber {
    color: #FF406C;
    font-size:10px;
    font-weight:700;
}

.resendLink {
    color: #FF406C;
}

.profileLeftAddress {
    position: absolute;
    border: 0 !important;
}

.profileNumber {
    border-top-left-radius: 6px !important;
    border-bottom-left-radius: 6px !important;
}