.container {
  height: calc(100% - 3rem);
  flex-direction: column;
  background: var(--wismo-colors-background);
  // border-radius: var(--chakra-spaces-4);
}

.flexGrowBox {
  background-color: var(--wismo-colors-white);
}
