.container {
  height: calc(100% - 3rem);
  flex-direction: column;
  background: var(--wismo-colors-background);
  // border-radius: var(--chakra-spaces-4);
}

.flexGrowBox {
  background-color: var(--wismo-colors-white);
}

.containerRatings {
  background-color: var(--wismo-colors-white);
}

.bannerContainer {
  max-width: 100vw;
  justify-content: space-around;
  overflow: auto;
  
  @media all and (max-width: 768px) {
    justify-content: flex-start;
  }
}

.banner {
  @media all and (max-width: 768px) {
    min-width: 275px;
  }
}