.card {
    border-radius: 0.375rem;
    border: 1px solid var(--chakra-colors-gray-400);
    background-color: var(--chakra-colors-gray-50);

    &.selected {
        border-color: var(--chakra-colors-green);
    }

    .cardChip {
        text-transform: uppercase;
        color: var(--chakra-colors-green-400);
        font-weight: bold;
        font-size: 0.75rem;
        margin-left: 1rem;
    }
}

.cardSubtitle {
    font-weight: 500;
    color: #757575;
}

.viewDetails {
    color: #757575;
    font-weight: 700;
}

.selectedCard {
    border-width: 1px;
    border-color: var(--chakra-colors-green-400);
}

.selectedDiscount {
    color: var(--chakra-colors-green-400);
}

.discountCard {
    background-color: var(--chakra-colors-white);
}

.cardFooter {
    border-top: 1px dashed var(--chakra-colors-gray-200);
}

.cardNudge {
    font-weight: 700;
}

.viewDetailLink {
    color: #757575;
}

.success {
    color: #549112;
}

.error {
    color: #B71C1C;
}