.pageContainer {
  background-color: white;
  background-image: radial-gradient(#cdcdcd 1px, transparent 0);
  background-size: 32px 32px;
  background-position: -19px -19px;

  @media (prefers-color-scheme: dark) {
    background-color: var(--chakra-colors-gray-900);
    background-image: radial-gradient(var(--chakra-colors-gray-700) 1px, transparent 0);
  }
}

.turboContainer {
  height: calc(100vh - 3rem);
  background: white;
  // border:1px solid var(--chakra-colors-gray-200);
  box-shadow: 0 0 var(--chakra-space-4) var(--chakra-colors-gray-200);

  @media (prefers-color-scheme: dark) {
    box-shadow: 0 0 var(--chakra-space-4) var(--chakra-colors-gray-900);
  }
}

.sidebar {
  min-width: 15rem;
  max-width: 35%;
  border-left: 1px solid var(--wismo-colors-gray);
  @media all and (max-width: 768px) {
    display: none !important;
  }
}
