.container {
    font-size: var(--chakra-fontSizes-sm);

    * {
        box-sizing: border-box;
    }
}

.pageContainer {
    overflow: scroll;
    background-color: var(--turbo-colors-background); 
}