.container {
    font-size: var(--chakra-fontSizes-sm);

    * {
        box-sizing: border-box;
    }
}

.pageContainer {
    max-height: calc(100vh - 40px);
    overflow: scroll;
    background-color: var(--chakra-colors-gray-200); 
}