@import './../../styles/common.scss';

.container {
    @extend .pageContainer;
    font-size: var(--chakra-fontSizes-sm);
    min-height: calc(100vh - 80px);
}

.section {
    min-height: 48px;
    background-color: var(--chakra-colors-white);

    p {
        font-weight:normal;
        color: var(--turbo-colors-light-text);
    }

    .sectionTitle {
        max-height: 48px;
        border-bottom: 1px solid var(--turbo-colors-gray);
    }
}

.sectionContent {
    button {
        margin-left: 0.5rem;
    }
}

.mobileNumber {
    color: var(--chakra-colors-black);
}

.moreAddresses {
    font-size: 0.75rem;
    font-weight:bold;
    color: var(--turbo-colors-link);
}

.newAddress {
    font-size: 0.75rem;
}

.orderSectionTitle {
    p {
        color: var(--turbo-colors-background0);
    }
}

.view-more {
    color: var(--turbo-colors-link);
}

.orderSummaryContainer {
    @media all and (min-width: 768px){
        display: none !important;
    }
}

.card {
    border-radius: 0.375rem;
    border: 1px solid var(--turbo-colors-gray);
    background-color: var(--turbo-colors-background);
    label {
        align-items: flex-start;
    }
}

.discountIcon {
    display:inline;
    width:auto;
    height:auto;
    vertical-align: middle;
}

.itemAvatarGroups {
    display: inline;
}

.paymentMethod {
    font-weight: 700;
}

.pageFooter {
    border-top: 1px solid var(--turbo-colors-gray);
    background-color: var(--chakra-colors-white);
    position:sticky;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 28px;
}

.paymentMethod {
    display: inline;
    vertical-align: middle;
    margin-right: 0.5rem;
}