@import './../../styles/common.scss';

.container {
    @extend .pageContainer;
    font-size: var(--chakra-fontSizes-sm);
}

.section {
    min-height: 48px;
    background-color: var(--chakra-colors-white);

    p {
        font-weight:normal;
    }

    .sectionTitle {
        max-height: 48px;
        border-bottom: 1px solid var(--chakra-colors-gray-200);
    }

    .sectionBody {
        
    }
}

.sectionContent {
    button {
        margin-left: 0.5rem;
    }
}

.mobileNumber {
    color: var(--chakra-colors-black);
}

.moreAddresses {
    font-size: 0.75rem;
    font-weight:bold;
    color: var(--chakra-colors-blue-400);
}

.newAddress {
    font-size: 0.75rem;
}

.orderSectionTitle {
    p {
        color: var(--chakra-colors-gray-500);
    }
}

.view-more {
    color: var(--chakra-colors-blue-400);
}

.orderSummaryContainer {
    @media all and (min-width: 768px){
        display: none !important;
    }
}

.card {
    border-radius: 0.375rem;
    border: 1px solid var(--chakra-colors-gray-400);
    background-color: var(--chakra-colors-gray-50);
    label {
        align-items: flex-start;
    }
}

.discountIcon {
}