@import './../../styles/common.scss';

.container {
    @extend .pageContainer;
    font-size: var(--chakra-fontSizes-sm);
    background-color: var(--chakra-colors-white);
}

.pageFooter {
    border-top: 1px solid var(--chakra-colors-gray-200);
    background-color: var(--chakra-colors-white);
}