@import './../../styles/common.scss';

.container {
    @extend .pageContainer;
    font-size: var(--chakra-fontSizes-sm);

    label, input, button {
        font-size: var(--chakra-fontSizes-sm);
    }

    input[disabled] {
        background: #dedede;
    }   
}

.section {
    height: 48px;
    background-color: var(--chakra-colors-white);
}

.formContainer {
    background-color: var(--chakra-colors-white);
}

.disabledFormField {
    label {
        background-color: transparent !important;
    }
}

.leftAddonLabel {
    left: 40px !important;
}