@import './../../styles/common.scss';

.container {
    @extend .pageContainer;
    font-size: var(--chakra-fontSizes-sm);

    label, input, button {
        font-size: var(--chakra-fontSizes-sm);
    }

    input[disabled] {
        background: #dedede;
    }   
}

.section {
    height: 48px;
    background-color: var(--chakra-colors-white);
}

.formContainer {
    background-color: var(--chakra-colors-white);
}

.disabledFormField {
    label {
        background-color: transparent !important;
    }
}

.leftAddonLabel {
    left: 50px !important;
}


.leftAddonGroup {
    &:focus-within {
        label {
            transform: scale(0.85) translateX(-50px) translateY(-18px) !important;
        }
    }
}

.touched {
    label {
        transform: translateY(-18px) !important;
    }
}