@import './../../styles/common.scss';

.container {
    @extend .pageContainer;
    font-size: var(--chakra-fontSizes-sm);

    label, input, button {
        font-size: var(--chakra-fontSizes-sm);
    }

    input[disabled] {
        background: #dedede;
    }   

    min-height: calc(100vh - 72px);
}

.section {
    height: 48px;
    background-color: var(--chakra-colors-white);

    p {
        font-weight: normal;
    }
}

.formContainer {
    background-color: var(--chakra-colors-white);
}

.disabledFormField {
    label {
        background-color: transparent !important;
    }
}

.leftAddonLabel {
    left: 40px !important;
}

.rightAddon {
    position: absolute;
    right: 0;
    border: 0 !important;
}

.leftAddonInput {
    border-top-left-radius: 6px !important;
    border-bottom-left-radius: 6px !important;
}

.rightAddonInput {
    border-top-right-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
}


.inlineLabel {
    font-weight: normal;
    display:inline;
}